:root
{
  --txtPrim : #deb887;
}
*
{
  box-sizing: border-box;
}
.homePageWrapper
{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper
{
  background-color: #000000ad;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer
{
  position: fixed;
  bottom: 0;
}

.inputBlock
{
  display: flex;
  flex-direction: column;
}

.inputBox
{
  margin: 5px 6px;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

footer
{
  color: var(--txtPrim);
}

.heading
{
  margin: 1px 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline ;
  color: var(--txtPrim);
}

.mainLabel
{
  margin: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.btn
{
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3  ease-in-out;
}

.join-btn
{
  background-color: cadetblue;
  margin-bottom: 10px;
  width: 100px;
  margin-inline: auto;
}

.btn:hover
{
  background-color: rgb(138, 230, 233);
  cursor: pointer;
}

.userWrapper
{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.clintWrapper
{
  background: #080808ad;
  display: flex;
  padding: 16px;
  color: #e8f2f3;
  flex-direction: column;
  border-right: 2px solid #fff;
}

.innerWrap
{
  flex: 1;
}

.clintList
{
  display: flex;
  height: 60vh;
  flex-wrap: wrap;
  overflow: auto;
  gap: 20px;
}

.clintList .client
{
  margin: 5px 0;
}

.userName
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  margin: 10px 15px;
}

.logo
{
  border-bottom: 2px solid whitesmoke;
}

.leaveBtn
{
  background: rgb(204, 7, 7);
  margin: 5px;

}
.copyBtn
{
  background-color: #0db9cf;
  margin: 5px;
}

.CodeMirror
{
  min-height: 100vh;
  font-size: 15px;
  font-family: monospace;
  line-height: 1.5;
  padding: 10px;
}